body
{
  
    background-size : cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
}


 {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color:
    color: #333;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  
  .page-header {
    text-align: center;
    padding: 50px 0;
    font-size: 2rem;
    color: #555;
  }
  
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }

   /* Product List */
   .product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .product-card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .product-card h3 {
    font-size: 1.2rem;
    color: #333;
  }

  .image8:hover
   {
    transform: scale(1.05) ;
   }

   .image9:hover
   {
    transform: scale(1.05) ;
   }

   .image10:hover
   {
    transform: scale(1.05) ;
   }

   .image11:hover
   {
    transform: scale(1.05) ;
   }
  